@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700&family=Playpen+Sans:wght@400;500;600;700&family=Poppins:wght@400;500;600;700&family=Roboto:wght@400;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;

}
body{
    font-family: 'Roboto', sans-serif;
   
}
span{
    color: #ffa500;
}
/* Navebar_start */
#navbar{
    width: 100%;
    background-color: #ffffff;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 999;
    box-shadow: 0px 3px 4px #6a6363;
}
#logo{
    font-size: 36px;
    font-weight: 650;
    color: black;
}

.navbar-toggler span{
    color: #ffa500;
}
.navbar-nav{
    margin-left: 2rem;
}
.nav-item .nav-link{
    font-size: 16px;
    font-weight: 550;
    color: black;
    letter-spacing: 1px;
    border-radius: 3px;
    transition: 0.5s ease;
}
.nav-item .nav-link:hover{
    color: #ffa500;
}
#navbar form button{
    background: #ffa500;
}
/* Navebar_end */


/* Home_section_start */
    #home{
        width: 100%;
        height: 90vh;
        background: url(images/Hero.jpg);
        background-size: cover;
        background-repeat: no-repeat;
    }
    #home .content{
        text-align: center;
        padding-top: 200px;
    }
    #home .content h5{
        color: #0d0d0d;
        font-size: 38px;
        font-weight: 500;
        text-shadow: 0px 1px 1px black;
    }
    #home .content h1{
        color: #0a0a0a;
        font-size: 70px;
        font-weight: 550;
        text-shadow: 0px 1px 1px black;
        margin-top: 1rem;
    }
    .changecontent::after{
        content: ' ';
        color: #ffa500;
        text-shadow: 0px 1px 1px black;
        animation: changetext 15s infinite linear;
    }
    @keyframes changetext{
        0%{content: "France";}
        10%{content: "Spain";}
        20%{content: "Unitad states";}
        30%{content: "China";}
        40%{content: "India";}
        50%{content: "Pakistan";}
        60%{content: "Italy";}
        70%{content: "Turkey";}
        80%{content: "Maxico";}
        90%{content: "Germany";}
        100%{content: "Kingdom";}
    }
    #home .content p{
        color: #ffffff;
        font-size: 15px;
        font-weight: 600;
        text-shadow: 0px 1px 1px black;
        margin-bottom: 2rem;
        margin-top: 1rem;
    }
    #home .content a{
        padding: 10px;
        background-color: #ffffff;
        color: #0a0a0a;
        letter-spacing: 2px;
        font-weight: 550;
        text-decoration: none;
        border-radius: 5px;
        transition: 0.5s;
        box-shadow: 2px 2px 2px black;
    }
    #home .content a:hover{
        color: #ffa500;
        box-shadow: 2px 2px 2px #ffa500;
    }
    
    @media (max-width: 850px){
        #home{
            background-position: 50%;
        }
    }
    @media (max-width: 450px){
        #home .content h5{
            font-size: 25px;
        }
        #home .content h1{
            font-size: 38px;
        }
        #home .content a{
            font-size: 15px;
        }
    }
/* Home_section_end */

/* Book_section_strat */
#book{
    padding-bottom: 50px;
}
#book .main_text{
    padding-top: 100px;
    border-bottom: 2px solid black;
}
#book .card{
    box-shadow: 0px 1px 4px black;
    margin-bottom: 50px;
}
#book form input{
    padding: 10px;
    color: black;
    border: none;
    /* outline: none; */
    font-size: 15px;
    border-radius: 10px;
    box-shadow: 0px 5px 5px -6px black;
    margin-bottom: 2rem;
}
#book form textarea{
    border: none;
    border-radius: 10px;
    resize: none;
    box-shadow: 0px 5px 5px -6px black;

}
/* Book_section_End */